<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_speed_boost"
        android:label="Redmi 9A Speed Boost"
        android:roundIcon="@drawable/ic_speed_boost"
        android:supportsRtl="true">

        <activity
            android:name="com.redmi9aspeedboost.MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>
